Repository ejfine/elifine-com: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-check-graphql-lambda, sync-dependencies-on-commit-graphql-lambda, uv-check-infrastructure, sync-dependencies-on-commit-infrastructure, forbidden-files, pyright-graphql-lambda, pyright-infrastructure

Path conditions:
  uv-check-graphql-lambda: any of: ^graphql_lambda/pyproject.toml$|^graphql_lambda/uv.lock$
  sync-dependencies-on-commit-graphql-lambda: any of: ^graphql_lambda/uv.lock$
  uv-check-infrastructure: any of: ^infrastructure/pyproject.toml$|^infrastructure/uv.lock$
  sync-dependencies-on-commit-infrastructure: any of: ^infrastructure/uv.lock$
  forbidden-files: any of: \.rej$
  pyright-graphql-lambda: any of: graphql_lambda/.+\.py$ and \.py$
  pyright-infrastructure: any of: infrastructure/.+\.py$ and \.py$

fix dockercomposue
  .copier-answers.yml
  .devcontainer/docker-compose.yml
Due: none

init nuxt
  elifine_app/app.vue
  elifine_app/nuxt.config.ts
  elifine_app/package.json
  elifine_app/pnpm-lock.yaml
  elifine_app/public/favicon.ico
  elifine_app/public/robots.txt
  elifine_app/server/tsconfig.json
  elifine_app/tsconfig.json
Due: none

MVP website
  elifine_app/app.vue
  elifine_app/layouts/default.vue
  elifine_app/nuxt.config.ts
  elifine_app/package.json
  elifine_app/pages/index.vue
  elifine_app/pnpm-lock.yaml
  elifine_app/public/resume-eli-fine.pdf
Due: none

update precommit
  .pre-commit-config.yaml
Due: none

more copier
  .copier-answers.yml
  .devcontainer/code-artifact-auth.sh
  .devcontainer/create-aws-profile.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/install-ci-tooling.sh
  .devcontainer/install-pulumi-cli.sh
  .devcontainer/manual-setup-deps.sh
  .devcontainer/on-create-command.sh
  .devcontainer/windows-host-helper.sh
  .github/actions/install_deps_uv/action.yml
  .github/actions/install_deps_uv/install-ci-tooling.ps1
  .github/actions/pulumi_ephemeral_deploy/action.yml
  .github/workflows/ci.yaml
  .github/workflows/pulumi-aws.yml
  .pre-commit-config.yaml
  .prettierrc
  LICENSE
  README.md
  infrastructure/pyproject.toml
  infrastructure/uv.lock
  pyrightconfig.json
  pytest.ini
  sh.bat
Due: uv-check-infrastructure, sync-dependencies-on-commit-infrastructure

tag
  .copier-answers.yml
Due: none

more copier
  .copier-answers.yml
  infrastructure/pyproject.toml
  infrastructure/src/infrastructure/jinja_constants.py
  infrastructure/src/infrastructure/pulumi_deploy.py
  infrastructure/uv.lock
Due: uv-check-infrastructure, sync-dependencies-on-commit-infrastructure, pyright-infrastructure

copier program
  .copier-answers.yml
  infrastructure/src/infrastructure/program.py
Due: pyright-infrastructure

Update docker-compose.yml
  .devcontainer/docker-compose.yml
Due: none

Copier
  .copier-answers.yml
Due: none

program update
  infrastructure/src/infrastructure/program.py
Due: pyright-infrastructure

copier
  .copier-answers.yml
  infrastructure/src/infrastructure/jinja_constants.py
Due: pyright-infrastructure

variable
  infrastructure/src/infrastructure/program.py
Due: pyright-infrastructure

copier
  .copier-answers.yml
Due: none

copierr
  .copier-answers.yml
  elifine_app/app.config.ts
  elifine_app/eslint.config.mjs
  elifine_app/global.d.ts
  elifine_app/nuxt.config.ts
  elifine_app/package.json
  elifine_app/pnpm-lock.yaml
  elifine_app/tsconfig.json
Due: none

Tweak index
  elifine_app/pages/index.vue
Due: none

coiper
  .copier-answers.yml
  elifine_app/assets/css/main.css
  elifine_app/layouts/default.vue
  elifine_app/pages/index.vue
Due: none

Copier update (#23)
  .copier-answers.yml
  .devcontainer/code-artifact-auth.sh
  .devcontainer/create-aws-profile.sh
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/install-ci-tooling.sh
  .devcontainer/install-pulumi-cli.sh
  .devcontainer/manual-setup-deps.sh
  .devcontainer/on-create-command.sh
  .devcontainer/windows-host-helper.sh
  .github/actions/install_deps_uv/action.yml
  .github/actions/install_deps_uv/install-ci-tooling.ps1
  .github/actions/pulumi_ephemeral_deploy/action.yml
  .github/workflows/ci.yaml
  .github/workflows/pulumi-aws.yml
  .pre-commit-config.yaml
  .prettierrc
  LICENSE
  README.md
  elifine_app/app.config.ts
  elifine_app/assets/css/main.css
  elifine_app/eslint.config.mjs
  elifine_app/global.d.ts
  elifine_app/layouts/default.vue
  elifine_app/nuxt.config.ts
  elifine_app/package.json
  elifine_app/pages/index.vue
  elifine_app/pnpm-lock.yaml
  elifine_app/tsconfig.json
  infrastructure/pyproject.toml
  infrastructure/src/infrastructure/jinja_constants.py
  infrastructure/src/infrastructure/program.py
  infrastructure/src/infrastructure/pulumi_deploy.py
  infrastructure/uv.lock
  pyrightconfig.json
  pytest.ini
  sh.bat
Due: uv-check-infrastructure, sync-dependencies-on-commit-infrastructure, pyright-infrastructure

new icon
  elifine_app/public/favicon.ico
  elifine_app/server/tsconfig.json
Due: none

updates
  .pre-commit-config.yaml
  elifine_app/layouts/default.vue
  elifine_app/package.json
  elifine_app/pages/about.vue
  elifine_app/pages/contact.vue
  elifine_app/pages/index.vue
  elifine_app/pages/open-source.vue
  elifine_app/pnpm-lock.yaml
  elifine_app/public/eli-headshot.png
  infrastructure/src/infrastructure/program.py
Due: pyright-infrastructure

update ssh port
  .copier-answers.yml
  .devcontainer/docker-compose.yml
Due: none

got email adress obscured
  elifine_app/pages/contact.vue
  infrastructure/src/infrastructure/program.py
Due: pyright-infrastructure

comment
  elifine_app/pages/contact.vue
  elifine_app/pnpm-lock.yaml
Due: none

line break
  elifine_app/layouts/default.vue
Due: none

nits
  elifine_app/layouts/default.vue
  elifine_app/pages/contact.vue
Due: none

Update to basic website (#24)
  .pre-commit-config.yaml
  elifine_app/layouts/default.vue
  elifine_app/package.json
  elifine_app/pages/about.vue
  elifine_app/pages/contact.vue
  elifine_app/pages/index.vue
  elifine_app/pages/open-source.vue
  elifine_app/pnpm-lock.yaml
  elifine_app/public/eli-headshot.png
  elifine_app/public/favicon.ico
  elifine_app/server/tsconfig.json
  infrastructure/src/infrastructure/program.py
Due: pyright-infrastructure

formatting
  elifine_app/pages/yardwork-1530-walker-st.vue
Due: none

lazy loading
  elifine_app/pages/yardwork-1530-walker-st.vue
Due: none

bump packages
  .pre-commit-config.yaml
  elifine_app/package.json
  elifine_app/pages/yardwork.pdn
  elifine_app/pnpm-lock.yaml
Due: none

Typo
  elifine_app/pages/yardwork-1530-walker-st.vue
Due: none

[19769510614-1764348079-177-default] Enqueue
  mutex_queue
Due: none

[19769510614-1764348079-177-default] Unlock
  mutex_queue
Due: none

package
  .copier-answers.yml
  elifine_app/package.json
  elifine_app/pnpm-lock.yaml
Due: none

hash
  .devcontainer/devcontainer.json
Due: none

config
  .copier-answers.yml
  elifine_app/nuxt.config.ts
Due: none

glo
  .copier-answers.yml
  elifine_app/global.d.ts
Due: none
